@model List<CityViewModel>

@{
    ViewData["Title"] = "CityIndex";
}


<h1>CityIndex</h1>
   <a asp-action="ReturnToPeopleIndex">Return to Main Menu</a>
   <p></p>
   <a asp-action="AddPersonToCity">Add person to city</a>

    <div class="col-lg-6">
    <table class="table">
    <thead>
        <tr>
            <th>City Id</th>
            <th>City Name</th>   
            <th>Country Id</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.CityName</td>
                <td>@item.CountryId</td>
                <td>
                </td>
            </tr>
        }
    </tbody>
</table>
</div>

    

