


@{
    ViewData["Title"] = "about";
}
<div>
<h1>about</h1>
<p>You have arrived at the <b>about view!</b></p>
</div>
<div>
    About – Containing information about yourself (CV, for example)
</div>



