
@{
    ViewData["Title"] = "Index";
}

<section>
    <div class="container p-1 p-sm-3">
        <div class="row">
            <div class="col-12">
                <h2>Home: ViewContent-index</h2>
                <hr />
            </div>
        </div>
    </div>
</section>


