@model List<CreatePersonViewModel>


<div class="col-lg-10" id="DisplayPeopleTable">
        @foreach (var item in PeopleViewModel.displayList)
        {
            <div class="row col-lg-12">
                <p>| @item.Name | @item.Phonenumber | @item.City | @Html.ActionLink("Delete", "DeleteFromList", new {DeleteId = item.PersonId}) |</p>
            </div>
        }
</div>

