@model List<PersonViewModel>

@{
    ViewData["Title"] = "User Data";
}


<div class="col-lg-10 container-fluid">
    <div class="card" id="CardBody">
        <div class="col-lg-10" id="Search">
            <form method="get" asp-action="FindUser">
                <p>
                    <input type="submit" value="Search" class="btn btn-primary" /> <input type="search" placeholder="Search city or name" name="SearchObject" />
                </p>                       
                <a asp-action="Index">Show al users</a>
            </form>
        </div>
  
        <div class="col-lg-10" id="AddPerson">
            <form asp-action="AddToList" method="get">
@*                <div class="addform-label align-content-lg-end ">
                    <label>Person Id</label> <input class="m-0" type="text" name="NewSSN" required />
                </div>*@
                <div class="addform-label align-content-lg-end ">
                    <label>Name</label> <input class="m-0" type="text" name="NewName" required />
                </div>
                <div class="addform-label align-content-lg-end ">
                    <label>Phonenumber</label> <input class="m-0" type="tel" name="NewPhonenumber" required>
                </div>
                <div class="addform-label align-content-lg-end ">
                    <label>City: </label>
                <select class ="col-lg-2"  name="cityid" class="form-control" asp-items="ViewBag.Cities"></select>
                    @*<label>City</label> <input class="m-0" type="text" name="CityName" required>*@
                </div>
                <p></p>
                <input class="align-content-lg-end" type="submit" value="New Person" />
                
            </form>               
            <a asp-action="CityIndex">City Table</a>
            <p></p>
            <a asp-action="CountryIndex">Country Table</a>
            <p></p>
            <a asp-action="LanguageIndex">Language Table</a>
        </div>
        <div class="col-lg-12" id="DisplayPeopleTable">
            <partial name="_people" model="@Model" />
        </div class="ButtonContainer"> 
        <div>                  
        </div>
    </div>
</div>


