@model List<CreatePersonViewModel>

@{
    ViewData["Title"] = "User Data";
}


<div class="col-lg-10 container-fluid">
    <div class="card" id="CardBody">
        <div class="col-lg-10" id="Search">
            <form method="get" asp-action="FindUser">
                <p>
                    <input type="submit" value="Search" class="btn btn-primary" /> <input type="search" placeholder="Search city or name" name="SearchObject" />
                </p>                       
                <a asp-action="Index">Show al users</a>
            </form>
        </div>
  
        <div class="col-lg-10" id="AddPerson">
            <form asp-action="AddToList" method="get">
@*                <div class="addform-label align-content-lg-end ">
                    <label>PersonId</label> <input class="m-0" type="number" name="NewPersonId" required />
                </div>*@
                <div class="addform-label align-content-lg-end ">
                    <label>Name</label> <input class="m-0" type="text" name="NewName" required />
                </div>
                <div class="newphonenumber-label align-content-lg-end ">
                    <label>Phonenumber</label> <input class="m-0" type="tel" name="NewPhonenumber" required>
                </div>
                <div class="newcity-label align-content-lg-end ">
                    <label>City</label> <input class="m-0" type="text" name="NewCity" required>
                </div>
                <p></p>
                <input class="align-content-lg-end" type="submit" value="New Person" />
            </form>

        </div>
        <div class="col-lg-12" id="DisplayPeopleTable">
            <partial name="_people" model="@Model" />
        </div class="ButtonContainer"> 
        <div>
          
        <button class="col-lg-2" onclick="GetUserList()">Get all users</button>
        <div id="userListHere"></div>
        <button class="col-lg-2" onclick="">Details</button>
        <button class="col-lg-2" onclick="">Delete</button>
        </div>
    </div>
</div>


