
@{
    ViewData["Title"] = "AddCityToCountry";
}

<h1>AddCityToCountry</h1>

<div class="form-group"></div>
        <form asp-action="AddCityToCountry" method="post">           
                <div class="container-fluid col-lg-10">
                <label>Country: </label>
                <select name="countrycode" class="form-control" asp-items="ViewBag.countries"></select>
                 </div>
                <div class="container-fluid col-lg-10">
                <label>City: </label>
                <select name="citypostalcode" class="form-control" asp-items="ViewBag.cities"></select>    
                </div>
            <input type="submit" value="Add person to City" class="btn btn-primary" />
           
        </form>   
