@model List<CreatePersonViewModel>

@{
    ViewData["Title"] = "AddCityToCountry";
}

<h1>AddCityToCountry</h1>
<div class="container">
    <div class="form-group">
        <form asp-action="AddCityToCountry" method="post">
            <div class="container-fluid col-lg-10">
                <label>Country: </label>
                <select name="countrycode" class="form-control" asp-items="ViewBag.countries"></select>
            </div>
            <div class="container-fluid col-lg-10">
                <label>City: </label>
                <select name="citypostalcode" class="form-control" asp-items="ViewBag.cities"></select>
                <input type="submit" value="Add City to Country" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div>
        @*<table class="table">
            <thead>
                <tr>
                    <th>City</th>
                    <th>Country name</th>
                    <th>Countrycode</th>
                    <th>Continent</th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {

                    <tr>
                        <td>@item.CityName</td>
                        <td>@item.CountryName</td>
                        <td>@item.CountryCode</td>
                        <td>@item.Continent</td>

                        <td>
                        </td>
                    </tr>
                }
            </tbody>
        </table>*@
    </div>
</div>