@model List<CountryViewModel>


@{
    ViewData["Title"] = "CountryIndex";
}

<h1>CountryIndex</h1>
       
  <a asp-action="ReturnToPeopleIndex">Return to Main Menu</a>
   <p></p>
   <a asp-action="UpdateCityToCountryRelation">Update City to Country Relation</a>

    <div class="col-lg-6">
    <table class="table">
    <thead>
        <tr>
            <th>Country Id</th>
            <th>Country</th>   
            <th>Continent</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.CountryName</td>
                <td>@item.Continent</td>
                <td>
                </td>
            </tr>
        }
    </tbody>
</table>
</div>

